.app-bar .nav-bar {
  margin: 0;
}

.app-bar .nav-bar li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.app-bar .nav-bar li a:hover, .app-bar .nav-bar li a.active {
  background-color: #1976D2;
}

@media (max-width: 543px) {
  .mui-panel {
    margin-left: -15px;
    margin-right: -15px;
  }
}
