#snackbar {
  position: fixed;
  bottom: -40px;
  left: 50%;
  margin-left: -200px;
  height: 40px;
  z-index: 99999;
  overflow: hidden;
  clear: both;
  min-width: 400px;
  cursor: pointer;
  opacity: 0;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: bottom 0.2s ease-in-out, opacity 0.2s ease-in;

  .snackbar-message {
    line-height: 40px;
    font-size: 12px;
  }

  .snackbar-action {
    padding: 15px 10px;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 10px;
    font-weight: bold;
    color: #FF4081;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

#snackbar.show {
  transition: bottom 0.2s ease-in-out, opacity 0.2s ease-in;
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
